// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


#mainContainer{
  min-height: 100vh;
  box-shadow: 12px 0 15px -4px rgba(0,0,0,0.47), -12px 0 8px -4px rgba(0,0,0,0.47);
  //border-right: 10px $secondary solid;
  //border-left: 10px $secondary solid;
}

.public-body {
  //background: linear-gradient(to bottom, #398acc 0%,#d6ecff 100%);
  background: linear-gradient(to bottom, #f9bc5a 0%,#fcdeb0 100%);

}
.container {
  background: $body-bg;
}

.btn-secondary{
  color: white;
}

.carousel-caption{
  background-color: rgba(33,33,33,0.5);
}

.post-date{

}

#mapa {
  max-height: 350px;
}

.gallery-card-top{
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.gallery-card-top img {
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.timeline{
  width: 80%;
  position: relative;
  display: block;
  height: 100%;
  border-right: 1px solid $secondary;

  &:before{
    content: '';
    right: -12.5px;
    position: absolute;
    background: $secondary;
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }

  span{
    position: absolute;
    color: $secondary;
    font-size: 1.5rem;
    right: 1.5rem;
    top: -0.4rem;
  }
}

.download-card{

}

/*Calendar icon*/
time.icon {
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 8em;
  height: 8em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: $secondary;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 $secondary;
}

time.icon em {
  position: absolute;
  bottom: 0.3em;
  color: $secondary;
}

time.icon span {
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}


